.form {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}

.error {
  color: darkred;
}

.button {
  width: 102px;
  margin: 0 auto;
  padding: 4px;
}
